*{
    margin: auto;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
.container-one{
    background-image: url(https://thumbs.dreamstime.com/b/real-estate-agent-demonstrating-house-illustration-dark-background-closeup-space-text-banner-design-real-estate-agent-195490723.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-one{
    display: flex;
    text-align: center;
    justify-content: space-around;

}
.home nav a{
    font-size: 20px;
    color: white;
    margin: 25px;
    text-decoration: none;
    color: tomato;
    
}
.btn-one button{
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 50px;
    background-color: tomato;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
.btn-one button:hover{
    background-color: white;
    color: navy;
    transition: 0.5s;
    
}
.home nav a:hover{
    color: white;
    transition: 0.3s;
}


.container-two h1{
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
    margin-top: 60px;
}
.container-two p{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
.container-two button{
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: tomato;
}
.container-two{
    margin-left: 10%;
}
.container-two button:hover{
    background-color: white;
    color: navy;
    transition: 0.5s;
}
.container-three{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-three h1{
    font-size: 35px;
    color: navy;
    font-weight: 500;

}
.container-three p{
    font-size: 18px;
    color: rgb(83, 83, 83);
    margin-top: 30px;
}


.container-four{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 100px;
}
.container-five{
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 150px;

}
.container-six{
    width: 650px;
}
.container-six h1{
    font-size: 60px;
    color: navy;
}
.container-six p{
    font-size: 20px;
    margin-top: 47px;
    text-align: justify;
    color: rgb(83, 83, 83);
}
.container-six button{
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-color: tomato;
    color: white;
    margin-top: 47px;
}
.container-seven{
    text-align: center;
}
.container-seven h1{
    font-size: 50px;
    color: navy;
}
.container-seven p{
    font-size: 18px;
    color: rgb(83, 83, 83);
    margin-top: 30px;
}
.container-seven{
    background-color: rgb(255, 246, 248);
    padding-top: 50px;
}